<body class="index">
    <script src="javascript/all.js"></script>
    <script>
      $(function() {
        var langs = []
        {{#each language_tabs}} 
          langs.push({{{str this.name}}}) 
        {{/each}}          
        setupLanguages(langs)
      })
    </script>
    <a href="#" id="nav-button">
      <span> NAV <img src="images/navbar.png"/></span>
    </a> 
  <div class="tocify-wrapper">
    <img src="images/logo.png"/>
    <div class="lang-selector">
      {{#each language_tabs}}
        <a href="#" data-language-name="{{this.name}}">{{this.text}}</a>
      {{/each}}
    </div>
    <div class="search">
      <input type="text" class="search" id="input-search" placeholder="Search">
    </div>
    <ul class="search-results"></ul>
    <div id="toc"></div>
    <ul class="toc-footer">
      {{#each toc_footers}} 
        <li>{{{html this}}}</li> 
      {{/each}}
    </ul>
  </div>
  <div class="page-wrapper">
    <div class="dark-box"></div>
    <div class="content">{{{html content}}}</div>
    <div class="dark-box">
      <div class="lang-selector"> 
        {{#each language_tabs}}
          <a href="#" data-language-name="{{this.name}}">{{this.text}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</body>